<!DOCTYPE html>
<html lang="en">
  <%- include('./template/head.ejs') %>
  <body>
    <%- include('./template/nav.ejs') %>

    <div class="not-found content">
      <h1>404 Not Found</h1>
      <a href="/">Go Home</a>
    </div>
    <%- include('./template/footer.ejs') %>
  </body>
</html>
