<!DOCTYPE html>
<html lang="en">
  <%- include('./template/head.ejs') %>
  <body>
    <%- include('./template/nav.ejs') %>

    <div class="blogs content">
      <h2>About Me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
        reiciendis esse expedita iste pariatur non laborum autem amet, excepturi
        debitis eveniet reprehenderit enim quia vero consectetur voluptate et
        aliquid voluptatum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quod.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, culpa!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit in
        veritatis sapiente aut cumque quas rerum necessitatibus quasi possimus
        eligendi!
      </p>
    </div>
    <%- include('./template/footer.ejs') %>
  </body>
</html>
